body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 10px;
}


/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;

}

/* Navigation links */
.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

.content-container {
    width: 100%;
}

.contact-info {
    float: left;
    width: 30%;
    margin-top: 350px;
    font-size: 25px;
    margin-left: 10%;
}


.feedback {
    position: absolute;
    margin-top: 250px;
    margin-left: 50%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(100% - 10px);

}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .feedback {
        max-width: 100%;
        /* Take full width on smaller screens */
    }
}

/*
.contact-box {
    margin-top: 350px;
    float: right;
    margin-right: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
*/
