body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 10px;
}


/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 5%;
    top: 0;
    display: flex;

}

/* Navigation links */
.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

#job {
    border-radius: 25px;
    float: right;
    margin-right: 10px;
    height: 25px;
}

#search {
    float: right;
    display: inline;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
    margin-right: 5%;
}

#search:hover {
    box-shadow: rgb(80 63 205/ 50%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

.categoryButton {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.categoryButton:focus:not(:focus-visible),
.categoryButton:focus {
    outline: 0;
}

.categoryButton:hover {
    background-color: #3733E5;
    border-color: #3733E5;
}

.categoryButton:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.categoryButton:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.categoryButton:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.categoryButton:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}

#categoryButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jobListings {
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
 }

#radarChartBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
